@import './scss/Header';
@import './scss/Divider';
@import './scss/Search';
@import './scss/Paginator';
@import './scss/Toggle';
@import './scss/Repos';
@import './scss/Repo';
@import './scss/ReadMe';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { 
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}