#header {
  height: 70px;
  
  .header-content {
    width: 90%;

    @media only screen and (min-width: 768px){
      width: 80%;
    }

    .logo-container {
      h1 {
        font-size: 1.4rem;
        color: white;
      }
    }
  }
}