#repositories {
  margin-bottom: 14px;
  
  .repositories-container {
    width: 90%;
    padding-bottom: 24px;

    @media only screen and (min-width: 768px){
      width: 80%;
    }

    .repos-label {
      font-size: 12px;
      margin-bottom: 24px;

      .username {
        font-weight: bold;
      }
    }
  }

  .label-container, .error-container {
    width: 90%;
    
    @media only screen and (min-width: 768px){
      width: 80%;
    }
  }

  .label-container {
    .status {
      font-size: 12px;
    }
  }

  .error-container {
    .error-text {
      font-size: 14px;
    }
  }
}