#repositories {
  margin-bottom: 14px;
  
  .repositories-container {
    width: 90%;
    padding-bottom: 24px;

    .repos-label {
      color: $light-gray-color;
      font-size: 12px;
      margin-bottom: 24px;

      .username {
        color: $main-color !important;
        font-weight: bold;
      }
    }
  }

  .label-container, .error-container {
    width: 90%;
    color: $light-gray-color;
  }

  .label-container {
    .status {
      font-size: 12px;
    }
  }

  .error-container {
    .error-text {
      color: $main-color;
      font-size: 14px;
    }
  }
}