#search {
  .search-form {
    width: 90%;

    @media only screen and (min-width: 768px){
      width: 80%;
    }

    span {
      font-size: 20px;
    }

    .searchbox-container {
      .button-container {
        width: 55px;
      }
    }
  }
}