// Light Mode Color Variables
$bg-color: #fff;
$main-color: #24292E;
$light-gray-color: #24292e80;
$accent-color: #0366D9;
$divider-color: #24292e4d;

// Dark Mode Color Variables
$dark-bg-color: #0D1117;
$dark-header-color: #161B22;
$dark-text-color: #C9D1D9;
$dark-light-gray-color: #c9d1d980;
$dark-accent-color: #39A6FF;
$dark-divider-color: #c9d1d94d;

:export {
  // Light Mode Colors
  bg-color: $bg-color;
  main-color: $main-color;
  light-gray-color: $light-gray-color;
  accent-color: $accent-color;
  divider-color: $divider-color;
  
  // Dark Mode Colors
  dark-bg-color: $dark-bg-color;
  dark-header-color: $dark-header-color;
  dark-text-color: $dark-text-color;
  dark-light-gray-color: $dark-light-gray-color;
  dark-accent-color: $dark-accent-color;
  dark-divider-color: $dark-divider-color;
} 